---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Kayisu | Portfolio',
  description = 'Portfolio of Emre Kaan Atas, a Software Developer crafting digital experiences with precision.',
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
